<!-- Preloader -->
<div class="preloader" id="preloader">
    <div class="preloader-content">
        <img src="/images/icon.jpg" alt="The Vocals" class="preloader-logo">
        <div class="preloader-spinner"></div>
        <span class="preloader-text">Loading...</span>
    </div>
</div>